<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<!--  WEBSITE: https://themefisher.com
  TWITTER: https://twitter.com/themefisher
  FACEBOOK: https://www.facebook.com/themefisher
  GITHUB: https://github.com/themefisher/-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- theme meta -->
    <meta name="theme-name" content="revolve"/>

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>

<header class="header-top bg-grey justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
                <a class="navbar-brand " href="/news/homePage">
                    <img src="images/logo.png" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-lg navigation-2 navigation">
                    <a class="navbar-brand text-uppercase d-lg-none" href="/news">
                        <img src="images/logo.png" alt="" class="img-fluid">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul id="menu" class="menu navbar-nav mx-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/news/homePage" id="navbarDropdown"
                                   role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/news/homePage">Home Page</a>
                                    <a class="dropdown-item" href="/news">Home Admin</a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Category
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" th:href="@{category/{idCategory}(idCategory=${c.id})}"
                                       th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></a>

                                </div>
                            </li>

                            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        </ul>

                        <ul class="list-inline mb-0 d-block d-lg-none">
                            <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div> <!--nav-bar-->

            <div class="col-lg-2 col-md-4 col-6">
                <div class="header-socials-2 text-right d-none d-lg-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="slider mt-4"> <!--// slide-->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
                <div class="slider-item" th:each="n : ${newsList}" th:size="5">
                    <div class="slider-item-content">
                        <div class="post-thumb mb-4">
                            <a th:href="@{news-detail/{id}(id=${n.id})}">
                                <img th:src="${n.image}" alt="" class="img-fluid" style="height: 100%; width: 100%">
                            </a>
                        </div>

                        <div class="slider-post-content">
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing"
                                  th:text="${n.category.name}"></span>
                            <h3 class="post-title mt-1"><a th:href="@{news-detail/{id}(id=${n.id})}" th:text="${n.name}"></a></h3>
                            <span class=" text-muted  text-capitalize">January 2, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--// end slide-->

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6" th:each=" n : ${newsList}">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" th:href="@{news-detail/{id}(id=${n.id})}" >
                                <img th:src="${n.getImage()}" alt="" class="img-fluid w-100" style="height: 200px; width: 100%">
                            </a>
                            <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1" th:text="${n.category.name}"></span>
                            <h3 class="post-title mt-1"><a th:href="@{news-detail/{id}(id=${n.id})}" th:text="${n.name}"></a></h3>

                        </article>
                    </div>

                </div>
            </div>

        </div>

        <span th:if="${newsList.hasPrevious()}">
                <a th:href="@{/news/homePage(page=${newsList.getNumber()} - 1)}">Previous</a>
        </span>
        <span th:text="${newsList.getNumber() + 1} + '/' + ${newsList.getTotalPages()}"></span>
        <span th:if="${newsList.hasNext()}">
            <a th:href="@{/news/homePage(page=${newsList.getNumber()} + 1)}" >Next</a>
        </span>
    </div>
</section>

<section class="footer-2 section-padding gray-bg pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="subscribe-footer text-center">
                    <div class="form-group mb-0">
                        <h2 class="mb-3">Subscribe Newsletter</h2>
                        <p class="mb-4">Subscribe my Newsletter for new blog posts , tips and info.
                        <p>
                        <div class="form-group form-row align-items-center mb-0">
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-dark ">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-btm mt-5 pt-4 border-top">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline footer-socials-2 text-center">
                        <li class="list-inline-item"><a href="#">Privacy policy</a></li>
                        <li class="list-inline-item"><a href="#">Support</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Category</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="copyright text-center ">
                        @ copyright all reserved to <a href="https://themefisher.com/">themefisher.com</a>-2019
                        Distribution <a
                            href="https://themewagon.com">ThemeWagon.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="plugins/jquery/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/bootstrap/js/popper.min.js"></script>
<!-- Owl caeousel -->
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/slick-carousel/slick.min.js"></script>
<script src="plugins/magnific-popup/magnific-popup.js"></script>
<!-- Instagram Feed Js -->
<script src="plugins/instafeed-js/instafeed.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="plugins/google-map/gmap.js"></script>
<!-- main js -->
<script src="js/custom.js"></script>



</body>

</html>