<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
                                                    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="card mt-4">
        <div class="card-header font-weight-bold">
            Staff Form
        </div>
        <div class="card-body">
            <form action="/staff/add" method="post" th:object="${staff}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" name="fileImg" onchange="showImg(this.files)" class="form-control" id="image"  ><br>
                    <img id="fileImg" width="300">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Enter age">
                </div>

                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter salary">
                </div>


                <div class="form-group">
                    <label>Branch</label>
                    <select name="idBrand" class="form-select" aria-label="Default select example">
                        <div th:each="b:${brandList}">
                            <option th:value="${b.id}" th:text="${b.name}"></option>
                        </div>
                    </select>
                </div>
                <div>
                    <button  type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script>
    function showImg(file) {
        let img = document.getElementById("fileImg");
        img.src = URL.createObjectURL(file[0]);
    }
</script>